<!-- registration/templates/registration/base.html -->
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/pretty-checkbox.min.css">
    <title>{% block title %}Postgraduate Registration System{% endblock %}</title>
    
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>      
    
    {% include 'navbar.html' %} 
            
  
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>Copyright &copy; 2024 Postgraduate Registration System. All rights reserved.</p>
    </footer>
    <script src="{% static 'js/jquery-3.4.1.slim.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script>
        $(function () {
            $('[data-toggle="popover"]').popover()
        })
        $(".year").text( (new Date).getFullYear() );
    </script>
</body>
</html>